<% @posts.each do |node|
    item = node['data'] %>
    <div style="background-color:#ccc;">
      <%#= node %>
      <a href="<%= item['url'] %>"><%= item['title']%></a>
      <br>
      Posted by: <%= item['author'] %><br>
      Votes: up(<%= item['ups'] || 0 %>), down(<%= item['down'] || 0 %>)<br>
      <a href="/comments/<%= item['id'] %>">Comments</a>

    </div>
    <hr>
<% end %>